@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/* CSS style */
* {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	font-family: "Ubuntu", sans-serif;
}
span {
	color: #fff;
}

#title {
	grid-column: span 12;
}

.title-image {
	height: 100vh;
	background-image: url("images/head.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nav-bar {
	display: flex;
	padding: 3% 15% 0;
}

.nav-link {
	margin-left: auto;
	display: flex;
}
.link {
	padding: 25px;
	align-self: center;
	text-decoration: none;
	color: whitesmoke;
	font-size: 1.2rem;
}

.heading {
	color: #2dfdfc;
	opacity: 0.8;
	font-size: 90px;
	text-align: center;
	margin-top: 15%;
}

.scroll {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	color: whitesmoke;
}

/* Feature */

#feature {
	grid-column: span 12;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
}

.intro {
	grid-row: span 2;
	grid-column: span 4;

	padding: 15% 15% 15% 15%;
	line-height: 1;

	background-color: #18f7ef;
	color: #3624ea;
}
.intro * {
	margin: 10% 0;
}
.client-info {
	font-size: 60px;
	margin-right: 60%;
}
.text {
	line-height: 1.3;
	font-size: 28px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.small {
	grid-column: span 4;
}
.large {
	grid-column: 5 / span 8;
}

/* .photographer {
	grid-column: span 4;
} */

.case-study {
	grid-column: 5 / span 8;
	background-color: #3624ea;
	color: wheat;
	/* padding needed to match photograher */
	padding: 10%;
}
.case-study * {
	line-height: 1.5;
	margin: 5% 5%;
}
.about-heading {
	font-size: 38px;
}

.btn {
	background-color: transparent;
	border: 5px solid #fff;
	padding: 15px 18px;
	font-size: 1rem;
	font-weight: bold;
}

.contact-btn {
	color: #3624ea;
}
.case-study-btn {
	color: #fff;
}

/* Footer */
#footer {
	grid-column: span 12;
	height: 1050px;
	background-image: url(images/footer-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 10% 0;
}
.footer-header {
	grid-column: 2 / span 3;
	line-height: 1.5;
}
.footer-text-container {
	grid-column: 6 / span 6;
}
.footer-text {
	line-height: 2;
	font-size: 16px;
}

.logo {
	margin: 30% 0 10%;
	text-align: center;
}

.logo-text {
	font-size: 0.875rem;
	margin: 3%;
	line-height: 1.5;
}

.footer-nav-link {
	text-align: center;
}

@media screen and (max-width: 830px) {
	.heading {
		font-size: 60px;
	}
	.scroll {
		display: none;
	}
	.footer-header {
		grid-column: span 12;
		text-align: center;
		margin: 5%;
	}
	.footer-text-container {
		grid-column: span 12;
		text-align: center;
		margin: 5%;
	}
}

@media screen and (max-width: 588px) {
	.grid-container {
		text-align: center;
	}
	.intro {
		grid-row: span 1;
		grid-column: span 12;
		padding: 10% 10% 10% 10%;
	}
	.client-info {
		font-size: 50px;
		margin-right: 0;
		text-align: center;
	}
	.small {
		grid-column: span 6;
	}
	.large {
		grid-column: span 12;
	}
	.case-study {
		grid-column: span 12;
	}
	.photographer {
		/* photographer */
		display: none;
	}
}
